.navbar{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    background: navy;
    font-family:'Montserrat', sans-serif;
}

.navbar .widthmax{
    display: flex;
    justify-content: space-between;
}

.navbar .symbol a{
    color: ghostwhite;
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    justify-content: right;
}

.navbar .menu li a{
    color: ghostwhite;
    font-size: 22px;
    font-weight: 500;
    margin-left: 30px;
}
